.menu-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.menu-button {
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #1e0955;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s, opacity 0.3s;
}

.bar:nth-child(2) {
  top: 50%;
  left: 5px;
}

.bar:last-child {
  top: 75%;
}

.menu-container:hover .bar:nth-child(1) {
  transform: translateY(-200px);
}

.menu-container:hover .bar:nth-child(2) {
  opacity: 0;
}

.menu-container:hover .bar:last-child {
  transform: translateY(0px);
}

.hover-menu {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 120px;
  background-color: #e2daf8; /* メニューの色を変更 */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.menu-container:hover .hover-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.25s ease;
}

.hover-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hover-menu li {
  padding: 10px;
  text-align: center;
}

.hover-menu li a {
  text-decoration: none;
  color: #333;
  background-color: transparent;
  transition: color 0.2s, background-color 0.2s; /* リンクのアニメーションを追加 */
}

.hover-menu li a:hover {
  color: #e2daf8; /* リンクのホバー時の色を変更 */
  transition: color 0.2s, background-color 0.2s; /* リンクのアニメーションを追加 */
}
.hover-menu li:hover {
  background-color: #1e0955; /* テキストの背景色を変更 */
  transition: color 0.2s, background-color 0.2s; /* リンクのアニメーションを追加 */
}
.slider-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.next-button {
  right: 0;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.fade-in-element {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
